html {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.618em;
  background: $background;
  color: $color;
  font-weight: 300;
}

.ft-page {
  overflow: hidden;

  &--content {
    @include clearfix;

    &[data-state="full"] {
      height: 100vh;
      width: 100vw;
      padding: 0;
      max-width: none;
      top: 0;
      transform: none;
    }
  }

  &--footnote {
    position: absolute;
    left: 0rem;
    bottom: 0rem;
    padding: .5rem;
    font-size: .75em;
    text-transform: lowercase;
    background: rgba(white, .25);
    width: 100%;
  }
}
