@import 'toolkit/reset';
@import 'flowtime/css/flowtime';
@import 'toolkit';
@import 'compass-breakpoint/stylesheets/breakpoint';
@import 'letterform-shades';
@import 'blog/sass/global/heading';
@import 'ibm-colors';

$background: color('neutral-white', 10);
$color: color('gray', 80);
$accent: 'teal' !default;

@import 'partials/mixins';
@import 'partials/html';
@import 'partials/thumb';
@import 'partials/page';
@import 'partials/state';
@import 'partials/layout';
@import 'partials/fragment';
